<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Dogs Avenue</title>
        <meta name="description" >
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <!--Custom css link-->
        <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="#">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

             <!--cat section starts-->

             <section class="dog">

                <div class="dogHeading">
                    <h1>Dog Avenue</h1>
                    <p>Did you know? Dogs have a sense of smell that’s 40 times better than humans – they can even detect diseases!</p>

                    <p>Dogs have an extraordinary sense of smell—up to 300 million olfactory receptors (vs. about 6 million in humans)—which is why they can detect scents and even diseases that we can’t perceive!</p>

                    <p>Dogs dream just like humans, cycling through REM sleep and often twitching or vocalizing as they “act out” their dreams.</p>
                </div>


                <div class="dogContainer">
    
                    <div class="dogBox">
                        {% for post in posts %}
                            <div class="dogImg">
                                <img src="https://cdn2.thedogapi.com/images/{{post.reference_image_id}}.jpg" />
                            </div>
                            <div class="dogText">
                                <h1>{{post.name}}</h1>
                                <p>Bred for: {{post.bred_for}}.</p>
                                <p>Temperament : {{post.temperament}}.</p>
                                <p>Life Span : {{post.life_span}}</p>
                            </div>

                        {% endfor %}
    
                    </div>
    
                </div>
               
            </section>
    <!--cat section ends-->
        
    </body>
</html>